spawn-at-startup "noctalia"

binds {
    Mod+Space hotkey-overlay-title="Run an Application" { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+V hotkey-overlay-title="Clipboard Manager" { spawn-sh "noctalia msg panel-toggle clipboard"; }
    Mod+Return { spawn-sh "noctalia msg panel-toggle control-center"; }
    Mod+L { spawn-sh "noctalia msg session lock"; }

    // Audio control
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "noctalia msg volume-up"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "noctalia msg volume-down"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "noctalia msg volume-mute"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "noctalia msg mic-mute"; }
    Shift+XF86AudioMute     allow-when-locked=true { spawn-sh "noctalia msg mic-mute"; }

    // Media keys
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "noctalia msg brightness-up"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "noctalia msg brightness-down"; }
}

layout {
    struts {
        top 0
        bottom -8
    }
}

window-rule {
  geometry-corner-radius 20

  clip-to-geometry true
}

debug {
  honor-xdg-activation-with-invalid-serial
}
